


   <video id='vP' width="400" height="300" controls>
   </video>
	<div id="playList">
		<% @movies.each do |movie| %>
			<% @i+=1 %>
			<% if @i % 2 == 0 %>
				<div uploader="<%= @uploader[movie.id] %>" actors="<%= @relat[movie.id] %>" name="<%= movie.id %>" style="background-image: -webkit-linear-gradient(top,#585858,#3f3f3f);" class="movieList" onclick='loadVid(this)' id="<%= movie.url %>" title="<%= movie.about %>" > 
			<% else %>
			 	<div uploader="<%= @uploader[movie.id] %>" actors="<%= @relat[movie.id] %>" name="<%= movie.id %>" style="background-image: -webkit-linear-gradient(top,#444,#2a2a2a);" class="movieList" onclick='loadVid(this)' id="<%= movie.url %>" title="<%= movie.about %>" >
			<% end %>
		     <%= movie.title %>
		   </div>
		 <% end %>
			<center>
				<a href="movies/new">
					<div id="addBtn2">
						<b>
							+
						</b>
					</div>
				</a>
			</center>
	</div>
  	
  	<div id="details">
  		<div id="actors">
  			<a id="editHREF">
  				<div id="editBtn">
  					Edit
  				</div>
  			</a>
  			<div id="actorsList">
  			</div>
  		</div>
  		<div id="description">
  		</div>
  	</div>
  
  
  
  
  
  
<script>
  function loadVid(video)
    {
    	document.getElementById("actorsList").innerHTML = "";
    	
    	var user = "<%= current_user.email[/[^@]+/]%>";
    	var actors = video.attributes["actors"].value.split(",");
    	var uploader = video.attributes["uploader"].value;
    	var vid =  document.getElementById("vP");
    	
    	if (user != uploader)
    		{
    			document.getElementById("editHREF").style.display = "none";
    		}
    	else
    		{
    			document.getElementById("editHREF").style.display = "block";
    		}
    	
    	for (var i = 0; i < actors.length-1; i++)
    		{
    			$("#actorsList").append("<div class='actor'>"+actors[i]+"</div>");
    		}
    	$("#actorsList").append("<div class='uploader'><b>"+uploader+"</b></div>");	
    	
    	document.getElementById("editHREF").href = "/movies/"+video.attributes["name"].value+"/";
     	document.title = "moViews - " + video.innerHTML;
      document.getElementById("title").innerHTML = video.innerHTML;
      document.getElementById("description").innerHTML = video.title;
     	vid.src = video.id;
     	vid.style.backgroundImage = "none";
     	vid.style.backgroundColor = "black";
     	document.getElementById("editBtn").style.cursor = "pointer";
    }
</script>
